.MainProfileDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    padding: 20px;
  }
  
  .ProfileContentDiv {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
  }
  
  .editProfileTitle h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .basic_Info h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .userName,
  .basic_Info input,
  .contact_info input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .aboutUser {
    margin: 10px 0;
    font-size: 14px;
    color: #777;
  }
  
  .contact_info input {
    width: calc(50% - 15px);
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .profileButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .profileButtons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .profileButtons button:first-child {
    background-color: rgb(144, 213, 213);
    color: white;
  }
  
  .profileButtons button:last-child {
    background-color: #002f34;
    color: white;
  }

  .profileButton{
    background-color: #002f34;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  